
<%= link_to image_tag("ruby.png"), articles_path%>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<ul>
   <li><%= link_to "Edit", edit_article_path(@article) %></li>
   <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>



<!--show comments-->
<h2>Comments</h2>
<%= render "comment", article:@article %>

<h2>Add a comment:</h2>
<%= render "comments/form",article:@article%>