
You got a new order from <%= @comment.commenter %>!
===============================================

Order Details:
--------------------------

Name: <%= @comment.commenter %>

Message:
<%= @comment.commenter %>