<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new Comment from <%= @comment.commenter %>!</p>
    <p>
    Comment Description is <br>
    --------------------------
    </p>
    <p>Name: <%= @comment.commenter %></p>
    <%
=begin%>
 <p>description: <%= @comment.body %></p> 
<%
=end%>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @comment.body %></p>
  </body>
</html>